/* Colors 
#FEEBF1 - pink
#880F52 - dark purple
#F6104E - reddish

#FC0040 - orangish
#B8036A - purple_pinkist

*/

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#nav-bar {
    background-color: #000;
    padding: 20px;
}

.nav-link {
    color: #fff;
    font-family: "ceraprolight";
    margin: 0px 10px;
}

/* PARA CONTENT */

#header-para-div {
    color: #fff;
    font-family: "ceraprolight";
    position: absolute;
    bottom: 99%;
    right: -85%;
}

.header-para {
    margin-bottom: -10px;
    font-size: 18px;
}

/* IMAGE */

#header-img-div {
    background-image: linear-gradient(to right, #B8036A , #FC0040);
}

#header-img {
    width: 100%;
    opacity: 0.6;
}

.image-header-para {
    text-transform: uppercase;
    color: #fff;
    font-family: "ceraprolight";
    font-size: 18px;
    position: absolute;
    top: 15%;
    left: 2%;
}

/* HEADING */

#header-h1-div {
    position: absolute;
    top: 15%;
    left: 25%;    
}

#header-h1 {
    font-family: "ceraprobold";
    font-size: 100px;
    font-weight: bold;
    color: #fff;
}

/* ----------------------------------------------- */
/* MARS BASE  */
/* ----------------------------------------------- */

#marsbase-img-div {
    position: absolute;
    left: 80%;
    z-index: 5;    
}

#marsbase-img {
    width: 100%;
    position: relative;
    top: -320px;
}

/* ----------------------------------------------- */
/* BASE  */
/* ----------------------------------------------- */

#base-img-div {
    text-align: center;
    z-index: 5;
}

#base-img {
    width: 60%;
    position: relative;
    top: -120px;
}

/* MAIN */

#main-heading-container {
    margin: 0px 5%;
}

#main-heading-one {
    font-family: 'ceraprobold';
    font-size: 36px;
    color: #880F52;
}

#main-heading-para {
    font-family: 'ceraprolight';
    font-size: 18px;
    color: rgb(108, 108, 108);
}

/* MAIN HEADING TWO */

#main-heading-two-container {
    margin: 0px 5%;
}

#main-heading-two-box {
    width: 170px;
    height: 250px;
    background-color: #FEEBF1;
    position: absolute;
    left: 30%;
}

#main-heading-four-box {
    width: 170px;
    height: 250px;
    background-color: #FEEBF1;
    position: absolute;
    left: 30%;
}

.main-heading-two {
    font-family: 'ceraprobold';
    font-size: 80px;
    font-weight: bold;
    color: #880F52;
    z-index: 3;
    position: absolute;
    margin-top: 10%;
}

.main-heading-two-para {
    font-family: 'ceraprolight';
    font-size: 18px;
    color: rgb(108, 108, 108);
    position: absolute;
    margin-top: 35%;
    width: 80%;
}

#main-heading-two-mainContainer {
    position: absolute;
    margin: 0px 5%;
    margin-top: 50%;
}

.main-heading-three-para {
    width: 250px;
    margin-top: 100px;
}

#mars-moon-img-div {
    background-color: #F6104E;
    position: absolute;
}

#mars-moon-img {
    opacity: 0.4;
}

#mars-mount-img {
    opacity: 0.4;
}

#main-mountain-container {
    display: block;
    margin-bottom: 500px;
}

#mars-mountain-img-div {
    background-color: #25e70c;
    position: absolute;
}

#mars-mountain-img {
    opacity: 0.6;
}

#mars-mountain-img {
    position: absolute;
    width: 320px;
    height: 360px;
    object-fit: cover;
}

#main-heading-two-mountain-container {
    /* margin: 0px 5%; */
    /* position: absolute; */
}

#main-heading-four {
    position: relative;
    top: 300px;
    left: -630px;
}

/* SECTION */

#vertical-spacing {
    margin-top: 1450px;
} 

#section-main-container {
    margin: 5%;
}

#section-heading-one {
    font-family: "ceraprobold";
    font-size: 32px;
}

#section-heading-para {
    font-family: 'ceraprolight';
    font-size: 18px;
    color: rgb(108, 108, 108);
    width: 95%;
}

/* BUTTON */

#button-ticket-div {
    text-align: left;
    margin-left: 5%;
}

#button-ticket {
    background-image: linear-gradient(to right, #B8036A , #FC0040);
    border: none;
    font-family: "ceraprolight";
    color: #fff;
    font-size: 18px;
    padding: 2%;
    width: 25%;

    margin-bottom: 50px;
}

#ticket-img-div {
    position: absolute;
    right: 5%;
}

#ticket-img {
    width: 80%;
}

@media screen and (min-width: 1000px) {
    #header-img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }   

    #header-h1-div {
        position: absolute;
        top: 40%;
        left: 30%;    
    }

    #header-h1 { 
        font-size: 150px;
    }

    .image-header-para {
        position: absolute;
        top: 20%;
    }

    #marsbase-img-div {
        position: absolute;
        left: 80%;
        z-index: 5;    
    }

    #marsbase-img {
        width: 220px;
        position: relative;
        top: -450px;
        left: 38%;
    }

    /* MAIN */

    #main-heading-container {
        margin: 0px 5%;
        position: relative;
        top: -60px;
    }

    #main-heading-para {
        width: 60%;
    }

    /* MAIN HEADING TWO */

    #main-heading-two-container {
        margin: 0px 5%;
        position: absolute;
    }

    #main-heading-two-box {
        width: 170px;
        height: 250px;
        background-color: #FEEBF1;
        position: absolute;
        left: 1000px;
    }

    #main-heading-four-box {
        width: 150px;
        height: 150px;
        background-color: #FEEBF1;
        position: absolute;
        left: 780px;
    }

    .main-heading-two {
        font-family: 'ceraprobold';
        font-size: 80px;
        font-weight: bold;
        color: #880F52;
        z-index: 3;
        position: absolute;
        top: 50px;
        left: 900px;
    }

    .main-heading-two-para {
        font-family: 'ceraprolight';
        font-size: 18px;
        color: rgb(108, 108, 108);
        position: absolute;
        top: 150px;
        left: 900px;
        width: 300px;
    }

    #main-heading-two-mainContainer {
        margin-top: 20%;
    }

    .main-heading-three-para {
        width: 250px;
        margin-top: 0px;
        color: #fff;
    }

    #mars-moon-img-div {
        position: absolute;
        left: 850px;
    }

    #mars-mountain-img-div {
        background-color: #f68b10;
        left: 850px;
    }

    #mars-moon-img {
        opacity: 0.4;
        width: 470px;
        height: 350px;
        object-fit: cover;
    }

    #mars-mount-img {
        opacity: 0.6;
        width: 320px;
        height: 360px;
        object-fit: cover;
    }

    #mars-mountain-img {
        opacity: 0.4;
        width: 470px;
        height: 350px;
        object-fit: cover;
    }

    .moon-header {
        color: #fff;
    }

    #main-mountain-container {
        position: absolute;
        right: 800px;
        top: -200px;
    }

    #main-heading-two-mountain-container {
        margin-top: 25px;
    }

    .mountain-header {
        margin-left: 50px;
    }

    .mountain-para {
        margin-left: 50px;
    }

    #mars-moon-img-div {
        background-color: #FC0040;
    }

    #mars-mountain-img-div {
        background-color: #fc8600;
    }

    .main-heading-four {
        margin-top: 15px;
        margin-left: -20px;
    }

    .main-heading-four-para {
        width: 210px;
    }

    /* SECTION */

    #vertical-spacing {
        margin-top: 60%;
    }

    #section-heading-one {
        font-family: "ceraprobold";
        font-size: 32px;
    }

    #section-heading-para {
        font-family: 'ceraprolight';
        font-size: 18px;
        color: rgb(108, 108, 108);
        width: 33%;
    }

    #button-ticket-div {
        text-align: left;
        margin: 0% 5%;
        margin-top: -3%;
    }

    #button-ticket {
        background-image: linear-gradient(to right, #B8036A , #FC0040);
        border: none;
        font-family: "ceraprolight";
        color: #fff;
        font-size: 18px;
        padding: 12px;
        width: 12%;
        box-sizing: 0px 0px 2px 2px #ccc;
    }

    /* TICKET */

    #ticket-img-div {
        position: absolute;
        right: 10%;
    }

    #ticket-img {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    #header-img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }   

    #header-h1-div {
        position: absolute;
        top: 50%;
        left: 30%;    
    }

    /* #marsbase-img-div {
        position: absolute;
        left: 80%;
        z-index: 5;    
    }

    #marsbase-img {
        width: 100%;
        position: relative;
        top: -320px;
    } */

    /* MAIN */

    #main-heading-container {
        margin: 0px 5%;
        position: relative;
        top: -60px;
    }

    #main-heading-para {
        width: 80%;
    }

    .moon-header {
        color: #fff;
    }

    .main-heading-three-para {
        color: #fff;
    }

    #main-heading-two-container {
        margin: 20px;
    }

    #main-heading-two-mountain-container {
        margin: 20px;
    }

    #mars-mount-img {
        width: 320px;
        height: 360px;
        object-fit: cover;
        opacity: 0.6;
    }

    /* SECTION */

    #section-heading-one {
        font-family: "ceraprobold";
        font-size: 32px;
    }

    #section-heading-para {
        font-family: 'ceraprolight';
        font-size: 18px;
        color: rgb(108, 108, 108);
        width: 95%;
    }
}

@media screen and (max-width: 600px) {
    #header-img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }   

    #header-h1-div {
        position: absolute;
        top: 20%;
        left: 5%;    
    }

    #header-para-div {
        color: #fff;
        font-family: "ceraprolight";
        position: relative;
        top: -50px;
        right: 0%;
    }

    .header-para {
        margin-bottom: -10px;
        font-size: 18px;
        display: block;
    }

    .image-header-para {
        position: absolute;
        top: 11%;
    }

    /* BASE */

    #base-img {
        width: 90%;
        position: absolute;
        top: 70%;
        left: 5%;
        z-index: 6;
    }

    /* MARS BASE */
    
    #marsbase-img {
        width: 100%;
        position: relative;
        top: -150px;
    }

    /* MAIN */

    #main-heading-container {
        margin: 0px 5%;
        position: relative;
        top: 0px;
    }

    #main-heading-one {
        font-family: 'ceraprobold';
        font-size: 40px;
        text-align: center;
        position: relative;
        left: -3%;
    }

    #main-heading-para {
        font-family: 'ceraprolight';
    }

    #main-heading-para-hidden {
        display: none;
    }

    /* MAIN HEADING TWO */

    #main-heading-two-container {
        margin: 0px 5%;
        position: static;
    }

    #main-mountain-container {
        display: none;
    }

    #main-heading-two-box {
        width: 170px;
        height: 250px;
        background-color: #FEEBF1;
        position: absolute;
        left: 30%;
    }

    #main-heading-four-box {
        width: 170px;
        height: 250px;
        background-color: #FEEBF1;
        position: absolute;
        left: 30%;
    }

    .main-heading-two {
        font-family: 'ceraprobold';
        font-size: 80px;
        font-weight: bold;
        color: #880F52;
        z-index: 3;
        position: absolute;
        margin-top: 10%;
    }

    .main-heading-two-para {
        font-family: 'ceraprolight';
        font-size: 18px;
        color: rgb(108, 108, 108);
        position: absolute;
        margin-top: 35%;
    }

    #main-heading-two-mainContainer {
        position: absolute;
        margin-top: 70%;
    }

    .main-heading-three-para {
        width: 250px;
        margin-top: 100px;
    }  
    
    #mars-moon-img-div {
       display: none;
    }
   
    #mars-moon-img {
       display: none;
    }

    #mars-mount-img {
        display: none;
    }

    #mars-mountain-img-div {
        display: none;
    }

    #main-heading-two-mountain-container {
        display: none;
    }

    #main-heading-four {
        display: none;
    }

    /* SECTION */

    #vertical-spacing {
        margin-top: 120%;
    } 

    #section-heading-one {
        font-family: "ceraprobold";
        font-size: 32px;
    }

    #section-heading-para {
        font-family: 'ceraprolight';
        font-size: 18px;
        color: rgb(108, 108, 108);
        width: 95%;
    }

    #button-ticket-div {
        text-align: center;
        margin-left: 4px;
    }

    #button-ticket {
        background-image: linear-gradient(to right, #B8036A , #FC0040);
        border: none;
        font-family: "ceraprolight";
        color: #fff;
        font-size: 18px;
        padding: 2%;
        width: 92%;

        margin-bottom: 50px;
    }

    #ticket-img-div {
        position: absolute;
        left: 4%;
    }

    #ticket-img {
        width: 80%;
    }

}

@media screen and (max-width: 400px) { 
    
    /* BASE */
    
    #base-img {
        width: 90%;
        position: absolute;
        top: 80%;
        left: 5%;
        z-index: 6;
    }

    /* MARS BASE */
    
    #marsbase-img {
        width: 100%;
        position: relative;
        top: -20px;
    }

    /* MAIN */

    #main-heading-container {
        margin: 0px 5%;
        position: relative;
        top: 0px;
    }

    #main-heading-one {
        font-family: 'ceraprobold';
        text-align: center;
        font-size: 38px;
    }

    #main-heading-para {
        font-family: 'ceraprolight';
    }

    #main-heading-para-hidden {
        display: none;
    }

    /* MAIN HEADING TWO */

    #main-heading-two-container {
        margin: 0px 5%;
        position: static;
    }

    #main-heading-two-box {
        width: 170px;
        height: 250px;
        background-color: #FEEBF1;
        position: absolute;
        left: 30%;
    }

    #main-heading-four-box {
        width: 170px;
        height: 250px;
        background-color: #FEEBF1;
        position: absolute;
        left: 30%;
    }

    .main-heading-two {
        font-family: 'ceraprobold';
        font-size: 80px;
        font-weight: bold;
        color: #880F52;
        z-index: 3;
        position: absolute;
        margin-top: 10%;
    }

    .main-heading-two-para {
        font-family: 'ceraprolight';
        font-size: 18px;
        color: rgb(108, 108, 108);
        position: absolute;
        margin-top: 35%;
    }

    #main-heading-two-mainContainer {
        position: absolute;
        margin-top: 70%;
    }

    .main-heading-three-para {
        width: 250px;
        margin-top: 100px;
    }

    #mars-moon-img-div {
       display: none;
    }
   
    #mars-moon-img {
       display: none;
    } 

    #mars-mount-img {
        display: none;
    }

    #mars-mountain-img-div {
        display: none;
    }

    #main-heading-two-mountain-container {
        display: none;
    }

    #main-mountain-container {
        display: none;
    }

    #main-heading-four {
        display: none;
    }
}

@font-face {
    font-family: "ceraprobold";
    src: url("font/ceraprobold.ttf") format('opentype');
}

@font-face {
    font-family: "ceraproblack";
    src: url("font/ceraproblack.ttf") format('opentype');
}

@font-face {
    font-family: "ceraprolight";
    src: url("font/ceraprolight.ttf") format('opentype');
}